* {
padding :0px;
margin :0px;
color :#FEFFFF ;
font-family: sans-serif ;

}

body{
  background-color :#303136;
display :flex ;

}

.img-box{
  width :50px;
  height :50px;
  border-radius :50%;
  overflow: hidden ;
  border :3px solid white;
  flex-shrink: 0 ;
}
.img-box img{
  width :100%;
  height :100%;
}
.porfile{
  display :flex ;
  align-items :center ;
  gap :20px ;
}
.porfile h2{
  font-size:20px;
  text-transform: capitalize;
}
.menu{
  background-color :#404249;
  width :70px;
  height :100vh;
  padding :10px;
  overflow :hidden ;
  transition :0.5s ;
}

.menu:hover{
  width :260px;
}
p{
  margin-left: 20px ;
  font-size :1.5rem ;
}
ul{
  list-style: none;
  position :relative ;
  height :95%;
}
ul li a{
  display :block ;
  text-decoration :none ;
  padding :10px;
  margin :10px 0;
  border-radius :8px;
  display :flex ;
  align-items: center ;
  gap :40px;
  transition :.5s;
}
ul li a:hover,.active{
  background-color :#ffffff55;
  
  
}
.log-out{
  position :absolute ;
  bottom: 0 ;
  width :100%;
}
.log-out a{
  background-color :#a00;
}
ul li a i{
  font-size :35px;
  
  
}
.box i {
  font-size: 40px;
}
  @media screen and (max-width: 600px) {
 .menu{
   width :85px;
   height :200vh;
   padding :0px;
   overflow :hidden;
   transition :0.5s;
   

 }
 li:hover {
   
   text-decoration: none;
   padding: 4px;
   border-radius: 8px;
   display: flex;
   align-items:left ;
   gap: 10px;
   transition: .5s;

 }
  i:hover {
   
   text-decoration: none;
   padding: 4px;
   border-radius: 8px;
   display: flex;
   align-items: right ;
   gap: 10px;
   transition: .5s;

 }
.menu:hover{
  padding-right :10px;
}
 p {
   margin-left: 20px;
   font-size: 0.9rem ;
 }
 .menu:hover {
   width: 290px;
 }
 *{
   font-style :bold ;
 }
.box{
  font-size :20px;
  font-style: bold ;
  font-family: sans-serif ;

}
.box i{
  font-size :42px;
  margin :0 auto ;
}
 ul{
  list-style: none;
  position :relative ;
  height :100%;
}
ul li a{
  display :block ;
  text-decoration :none ;
  padding :8px;
  margin :5px 0;
  border-radius :8px;
  display :flex ;
  align-items: center ;
  gap :40px;
  transition :.5s;
}
li{
  font-size :16px ;
}
ul li a:hover,.active{
  background-color :#ffffff55;
  
  
}
.log-out{
  position :absolute ;
  bottom: 0 ;
  width :100%;
}
.log-out a{
  background-color :#a00;
}
ul li a i{
  font-size :30px;
}


}


















.content {
  width :100%;
  margin :10px;
}
.title-info{
  background-color :#18181B;
  padding :10px ;
  display :flex ;
  align-items: center ;
  justify-content :space-between ;
  border-radius: 8px;
  margin :10px 0;
  box-shadow :0 0 10px#ffffff55;
  
}



.data-info {
  display:flex;
  align-items: center ;
  flex-direction :column;
  justify-content :space-between ;
  flex-wrap :wrap ;
  gap:10px;
  

}


td:hover{
  background-color :#875E88;
}
.data-info .box{
  background-color :#676A77;
  
  flex-basis:150px;
  width :100%;
  height :150px;
  flex-grow:1;
  border-radius :8px;
  display :flex ;
  flex-direction :column ;
  align-items :center ;
  justify-content :space-around ;

}

 .box:hover {
   background-color: #A9ABB0;
   transition :0.9s;
   
   

 }
 .box text{
  font-size :1rem;
  
  
}
 .box text:hover{
   letter-spacing :2px ;

 }